/* === GLOBAL SETTINGS === */

* {
    box-sizing: border-box;
}

body {
  margin: 0;
}

img {
    float: right;
}

/* === HEADER & FOOTER === */

/* Style the header */
#header {
    background-color: #f1f1f1;
    /* Can't set the opacity of a background.  Workaround: start with another
       "image": a gradient from white to white with opacity 0.4.
       For wide-enough screens, let the real image cover part of the screen
       and repeat left-to-right.  See the bottom for updated background-size
       for narrow screens.
   */
    background-image: linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.4)),
                      url(images/artisan-fair-table.jpg);
    background-repeat: no-repeat, repeat-x;
    background-size: cover, 60%;
    background-position: center;

    padding: 20px;
    text-align: center;
}

/* Style the footer */
#footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}


/* === TOP NAVIGATION & FILTERS === */

/* Style the top navigation bar */
#topnav {
    background-color: #333;
}

/* Style links under topnav */
#topnav a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change link color on hover */
#topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* The container <div> to position dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Style dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    /* Place the dropdown content below the trigger.  On my MBP,
       in Chrome, this happens with or without the next two lines
       but in Safari, both are necessary for correct placement. */
    left: 0%;
    top: 100%;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Style links & buttons inside dropdowns;
   overrides some of "#topnav a" and "#filter-group button" */
#topnav .dropdown-content a {
    color: black;
    padding: 12px 16px;
    width: 100%;
    text-align: left;
}

/* Change background color of dropdown links & buttons on hover;
   overrides some of "#topnav a:hover, ..." */
#topnav .dropdown-content a:hover {
    background-color: #dadada
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: inline-block;
}

/* === MAIN CONTENT === */

/* Create two unequal columns that float next to each other */
.column {
    float: left;
    padding: 10px;
}

/* Right column */
.column.right {
    width: 35%;
}

/* Main column */
.column.main {
    width: 65%;
}


/* Craft-details links */
.link-text {
    position: relative;
    left: 20px;
    top: 0px;
}

/* Spans containing thumbnail & large images */
.column.main li > span {
    position: relative;
}

/* Thumbnail images */
.thumb-img {
    float: left;
    width: 30px;
}

/* Large images (hidden unless hovered over) */
.large-img {
    display: none;
    position: absolute;
    left: 20px;
    top: 40px;
    width: 400px;
    z-index: 1;
}

/* Pop up large images on hover */
span:hover .large-img {
    display: initial;
}

/* Search (autocomplete) images (shown on focus) */
.search-img {
    position: fixed;
    width: 200px;
    z-index: 100;
}

/* === CONTACT FORM === */

/* Form container */
.form-cont {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

/* Form */
.form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout for narrow screens */
@media (max-width: 600px) {
    /* Stack the two columns */
    .column.right, .column.main {
        width: 100%;
    }
    /* Make background image fill #header */
    #header {
        background-size: cover;
    }
}
